Package: com.yakir.alertspercent
Name: AlertsPercent
Depends: mobilesubstrate
Version: 1.2
Architecture: iphoneos-arm
Description: AlertsPercent will help you not to forget your device is connected 
Maintainer: DevelopApple
Author: DevelopApple
Section: Tweaks
